# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own. When someone
# with admin or owner permissions has enabled required reviews, they
# also can optionally require approval from a code owner before the
# author can merge a pull request in the repository.

cln-grpc/               @cdecker
cln-rpc/                @cdecker
plugins/src/            @cdecker
plugins/grpc-plugin/    @cdecker
contrib/reprobuild/     @cdecker
contrib/msggen/         @cdecker
contrib/pyln-client/    @cdecker
contrib/pyln-testing/   @cdecker
# Needed to ensure hsmd wire compatibility between releases
hsmd/hsmd_wire.csv      @cdecker @ksedgwic @devrandom
contrib/nix/            @vincenzopalazzo

# See https://help.github.com/articles/about-codeowners/ for more
# information
