*~
*.o
*.orig
*.tx
*.txid
*.pb
*.gcda
*.gcno
*.dSYM
*.rej
.cppcheck-suppress
TAGS
tags
ccan/tools/configurator/configurator
ccan/ccan/cdump/tools/cdump-enumstr
gen_*
cli/lightning-cli
tools/check-bolt
coverage
ccan/config.h
__pycache__
config.vars

# Ignore some generated binaries
*/test/run-*
!*/test/run-*.c
external/libbacktrace-build/
external/libbacktrace.a
external/libbacktrace.la
test/test_protocol
test/test_sphinx
tests/.pytest.restart
gossip_store
.pytest_cache
