[submodule "daemon/jsmn"]
	path = external/jsmn
	url = https://github.com/zserge/jsmn
[submodule "libsodium"]
	path = external/libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "external/libbacktrace"]
	path = external/libbacktrace
	url = https://github.com/ianlancetaylor/libbacktrace.git
[submodule "external/libwally-core"]
	path = external/libwally-core
	url = https://github.com/ElementsProject/libwally-core.git
	ignore = dirty
[submodule "external/gheap"]
	path = external/gheap
	url = https://github.com/valyala/gheap
[submodule "external/lowdown"]
	path = external/lowdown
	url = https://github.com/kristapsdz/lowdown.git
	ignore = dirty
