language: c
dist: trusty
sudo: true

env:
  - NOVALGRIND=1 NO_VALGRIND=0
  - NOVALGRIND=0 NO_VALGRIND=1

# Trusty (aka 14.04) is way way too old, so run in docker...
script:
  - docker pull cdecker/lightning-ci > /dev/null
  - docker run --rm=true -v "${TRAVIS_BUILD_DIR}":/build -t cdecker/lightning-ci make -j3
  - docker run --rm=true -e NOVALGRIND=${NOVALGRIND:-0} -e TEST_DEBUG=${TEST_DEBUG:-0} -e NO_VALGRIND=${NOVALGRIND:-0} -v "${TRAVIS_BUILD_DIR}":/build -t cdecker/lightning-ci make check
  - docker run --rm=true -v "${TRAVIS_BUILD_DIR}":/build -t cdecker/lightning-ci make check-source
