[tool.poetry]
name = "cln-meta-project"
version = "0.1.0"
description = "Just a helper to get our python dependencies under control"
authors = ["Christian Decker <cdecker@blockstream.com>"]

[tool.poetry.dependencies]
# Build dependencies belong here
python = "^3.8"
pyln-client = { path = "contrib/pyln-client", develop = true }
pyln-proto = { path = "contrib/pyln-proto", develop = true }
clnrest = { path = "plugins/clnrest", develop = true }
Mako = "^1.1.6"
websocket-client = "^1.2.3"
grpcio-tools = "^1"
grpcio = "^1"
# We want a specific version of protobuf to match CI's .github/scripts/setup.sh
protobuf = "4.21.12"
cryptography = "^41.0.2"

[tool.poetry.group.dev.dependencies]
# Test dependencies and inherited dependencies belong here
crc32c = "^2.2.post0"  # Belongs to lnprototest
pytest-xdist = "^2.5.0"
pytest-test-groups = "^1.0.3"
pytest-timeout = "^2.1.0"
flake8 = "^4.0.1"
mypy = "^0.931"
pytest-custom-exit-code = "0.3.0"
pyln-testing = { path = "./contrib/pyln-testing", develop = true, extras = [ "grpc" ] }
flaky = "^3.7.0"
requests = "^2.31.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
