open-channel
open-anchor-scriptsigs
leak-anchor-sigs
open-commit-sig
check-commit-sig
check-anchor-scriptsigs
get-anchor-depth
create-steal-tx
create-commit-spend-tx
close-channel
create-close-tx
update-channel
update-channel-accept
update-channel-signature
update-channel-complete
create-commit-tx
open-anchor
txid-of
create-anchor-tx
update-channel-htlc
update-channel-htlc-complete
update-channel-htlc-remove
create-htlc-spend-tx

