bolt11-cli
decodemsg
onion
dump-gossipstore
gossipwith
mkcommit
mkfunding
mkclose
mkgossip
mkencoded
create-gossipstore
checkchannels
mkquery
lightning-checkmessage
blindedpath
route
topology
bolt12-cli
