html, body			{ margin: 0; }
body				{ font-family: 'Alegreya sans', sans-serif; }
h1, h2, h3			{ font-weight: 500; }
h1				{ font-size: 175%;
				  line-height: 1.2em; }
h2				{ font-size: 140%; }
a				{ text-decoration: none; }
strong, b			{ font-weight: 500; }
aside				{ font-size: 125%; }
pre, code			{ font-size: 65%;
				  line-height: 1.3em; }
body > header			{ padding: 48pt 0 12pt 0; 
				  background-color: #333; 
			  	  color: #aaa; }
body > header a			{ color: #fff; }
body > header nav		{ display: inline-block;
				  font-size: smaller; }
body > header nav i.fa		{ font-size: smaller; }
#nav-atom			{ border-left: thin solid #aaa;
				  margin-left: 0.5rem;
				  padding-left: 0.5rem;
				  display: inline-block; }
#breadcrumbs			{ padding: 2em 0 2em 0; }
nav#versions > ul 		{ list-style-type: none;
				  padding: 0;
				  margin: 0; }
nav#versions > ul > li + li	{ margin-top: 1.5em; 
				  border-top: thin solid #ddd; }
nav#versions > ul > li > div.version
				{ margin-bottom: 1em; }
nav#versions > ul > li		{ color: rgba(0, 0, 0, 0.5); }
nav#versions > ul > li a	{ color: rgba(0, 0, 255, 0.5); }
nav#versions > ul > li:first-child
				{ color: #000; }
nav#versions > ul > li:first-child a	
				{ color: blue; }
nav a				{ color: blue; }
nav span			{ color: #444; }
footer				{ margin: 24pt 0;
				  font-size: smaller;
				  text-align: center; }
nav[data-sblg-nav].cur 		{ display: inline-block; 
				  padding: 0; }
nav[data-sblg-nav].cur ul	{ display: inline-block;
				  list-style-type: none;
				  margin: 0;
				  padding: 0; }
nav[data-sblg-nav].cur li	{ display: inline-block;
				  margin: 0;
				  padding: 0; }
blockquote			{ margin: 1.1em 0; }
blockquote > p			{ display: flex;
				  margin: 0; }
blockquote > p > *		{ flex: 1;
				  display: inline-block;
				  text-align: center;
				  padding: 0.2rem; }
blockquote > p img		{ width: 100% !important; }
blockquote + blockquote		{ margin-top: 0; }

@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
 body > header			{ padding: 24pt 0 6pt 0; }
 #breadcrumbs			{ padding: 1em 0 1em 0; }
 h1				{ font-size: 160%; }
}
