[tool.poetry]
name = "pyln-testing"
version = "22.11rc1"
description = "Test your Core Lightning integration, plugins or whatever you want"
authors = ["Christian Decker <decker.christian@gmail.com>"]
license = "BSD-MIT"
readme = "README.md"

packages = [
  { include = "pyln/testing" },
]

[tool.poetry.dependencies]
python = "^3.7"
pytest = "^7.0.1"
ephemeral-port-reserve = "^1.1.4"
psycopg2-binary = "^2.9.3"
python-bitcoinlib = "^0.11.0"
jsonschema = "^4.4.0"
pyln-client = ">=0.12.1"
Flask = "^2.0.3"
cheroot = "^8.6.0"
psutil = "^5.9.0"
grpcio = ">=1.47"
protobuf = ">=3.20.3,<4"

[tool.poetry.dev-dependencies]
pyln-client = { path = "../pyln-client", develop = true}

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
