[tool.poetry]
name = "pyln-testing"
version = "23.05"
description = "Test your Core Lightning integration, plugins or whatever you want"
authors = ["Christian Decker <decker.christian@gmail.com>"]
license = "BSD-MIT"
readme = "README.md"

packages = [
  { include = "pyln/testing" },
]

[tool.poetry.dependencies]
python = "^3.7"
pytest = "^7"
ephemeral-port-reserve = "^1.1.4"
psycopg2-binary = "^2.9"
python-bitcoinlib = "^0.11.0"
jsonschema = "^4.4.0"
pyln-client = ">=23"
Flask = "^2"
cheroot = "^8"
psutil = "^5.9"
grpcio = "^1"
protobuf = ">=4"

[tool.poetry.dev-dependencies]
pyln-client = { path = "../pyln-client", develop = true}

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
