---
name: Continuous Integration
on:
  push:
    branches:
      - "master"
  pull_request:
    types: [opened, synchronize, edited]
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  SLOW_MACHINE: 1
  CI_SERVER_URL: "http://35.239.136.52:3170"
  PYTEST_OPTS_BASE: "-vvv --junit-xml=report.xml --timeout=1800 --durations=10"
  TEST_LOG_IGNORE_ERRORS: "1"
  SCCACHE_GHA_ENABLED: "true"

jobs:
  compile:
    name: Compile CLN ${{ matrix.cfg }}
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    strategy:
      fail-fast: true
      matrix:
        include:
          - CFG: compile-gcc
            VALGRIND: 1
            COMPILER: gcc
            DEBUG_BUILD: --enable-debugbuild
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Install dependencies
        env:
          TEST_NETWORK: ${{ matrix.TEST_NETWORK }}
        run: |
          bash -x .github/scripts/setup.sh

      - name: Setup sccache
        uses: mozilla-actions/sccache-action@v0.0.9
      - run: sccache --zero-stats

      - name: Build
        env:
          COMPILER: ${{ matrix.COMPILER }}
          ASAN: ${{ matrix.ASAN }}
          UBSAN: ${{ matrix.UBSAN }}
          VALGRIND: ${{ matrix.VALGRIND }}
          COMPAT: 1
          RUSTC_WRAPPER: sccache
        run: |
          set -e
          ./configure ${{ matrix.DEBUG_BUILD }} CC="sccache $COMPILER" ${{ matrix.COPTFLAGS_VAR }}

          uv run make -j $(nproc) testpack.tar.bz2

          # Rename now so we don't clash
          mv testpack.tar.bz2 cln-${{ matrix.CFG }}.tar.bz2
      - uses: actions/upload-artifact@v4
        with:
          name: cln-${{ matrix.CFG }}.tar.bz2
          path: cln-${{ matrix.CFG }}.tar.bz2

  first-integration:
    name: First Integration Tests (${{ matrix.GROUP }}/${{ matrix.GROUP_COUNT }})
    runs-on: ubuntu-24.04
    timeout-minutes: 120
    needs:
      - compile
    strategy:
      fail-fast: false
      matrix:
        CFG: [compile-gcc]
        GROUP: [1,2,3,4,5,6]
        GROUP_COUNT: [6]
        TEST_DB_PROVIDER: [sqlite3]
        COMPILER: [gcc]
        TEST_NETWORK: [regtest]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Install dependencies
        env:
          TEST_NETWORK: ${{ matrix.TEST_NETWORK }}
        run: |
          bash -x .github/scripts/setup.sh

      - name: Download build
        uses: actions/download-artifact@v4
        with:
          name: cln-${{ matrix.CFG }}.tar.bz2

      - name: Unpack prebuilt binaries
        run: |
          git submodule sync && git submodule update --init --recursive
          # Make sure source appears older than what we're about to unpack
          find . -type f -print0 | xargs -0 touch -d yesterday
          tar xaf cln-${{ matrix.CFG }}.tar.bz2

      - name: Test
        env:
          COMPILER: ${{ matrix.COMPILER }}
          EXPERIMENTAL_DUAL_FUND: ${{ matrix.EXPERIMENTAL_DUAL_FUND }}
          EXPERIMENTAL_SPLICING: ${{ matrix.EXPERIMENTAL_SPLICING }}
          COMPAT: 1
          SLOW_MACHINE: 1
          TEST_DEBUG: 1
          TEST_DB_PROVIDER: ${{ matrix.TEST_DB_PROVIDER }}
          TEST_NETWORK: ${{ matrix.TEST_NETWORK }}
          LIGHTNINGD_POSTGRES_NO_VACUUM: 1
          PYTEST_OPTS: ${{ env.PYTEST_OPTS_BASE }} --test-group-random-seed=42
        run: |
          env
          cat config.vars
          VALGRIND=0 sg wireshark "uv run eatmydata pytest tests/ -n $(($(nproc) + 1)) ${PYTEST_OPTS} --test-group=${{ matrix.GROUP }} --test-group-count=${{ matrix.GROUP_COUNT }}"
      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: pytest-results-first-integration-${{ matrix.GROUP }}
          path: report.xml
          if-no-files-found: ignore
